body {
  margin: 0;
}

.wrapper {
  background-color: lightblue;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
#search-form {
  width: 300px;
  margin: 0 auto;
  padding: 25px 0px;
}

.gallery {
  margin: 0px 0px 20px;
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.photo-card {
  flex-basis: 300px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.load-more {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.load-more:active {
  background-color: lightskyblue;
}
